@use "../base/" as *;

.title {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.result {
  font-size: 3.2rem;
}

.overlay {
  position: relative;
  z-index: $z--tooltip;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
  }
}
